RewriteEngine On
RewriteRule ^create create.php [NC,L]
RewriteRule ^read/all/([0-9a-zA-Z_-]*)$ read.php?all_info=1&codice_fiscale=$1 [NC,L]
RewriteRule ^read/([0-9a-zA-Z_-]*)$ read.php?codice_fiscale=$1 [NC,L]
RewriteRule ^update update.php [NC,L]
RewriteRule ^delete/([0-9]*)$ delete.php?codice_fiscale=$1 [NC,L]